/* Override global theme constants or define new ones here */
$v-layout-spacing-vertical: 10px;
$v-layout-spacing-horizontal: 10px;

$v-table-row-height: 25px;
$v-table-header-font-size: 12px;
$v-table-cell-padding-horizontal: 10px;