@mixin image-crope {

  .cr-slider-wrap {
    margin-top: -20px !important;
  }

  .cr-boundary {
    position: fixed !important;
  }

  .croppie-container .cr-boundary {
    max-width: 340px;
    max-height: 340px;
  }

  .cr-preview-label {
    margin-top: 5px !important;
  }
  .cr-preview-img {
    position: absolute;
    margin: auto;
    right: 0px !important;
    bottom: 0px !important;
    top: 0px !important;
    left: 0px !important;
  }
}