.DS_Store
.gradle
.studio
*.ipr
*.iml
*.iws
build/*
deploy/*
modules/*/build/*
out
test-run
.ideaDataSources/
dataSources/
/replay_pid29452.log
/hs_err_pid29452.log
/.idea/.gitignore
/.idea/.name
.idea
