@mixin aa-button-colors {

  .v-button.border-none {
    border: none;
  }

  .v-button.text-color {
    color: #e7e7e7;
  }

  .v-button.aa-bg-color-1 {
    background: #910303;
  }

  .v-button.aa-bg-color-1:hover {
    background: #870014;
  }

  .v-button.aa-bg-color-2 {
    background: #c49312;
  }

  .v-button.aa-bg-color-2:hover {
    background: #B88900
  }

  .v-button.aa-bg-color-3 {
    background: #006351;
  }

  .v-button.aa-bg-color-3:hover {
    background: #067433;
  }

  .v-button.aa-bg-color-4 {
    background: #132b45;
  }

  .v-button.aa-bg-color-4:hover {
    background: #011151;
  }

  .v-button.aa-bg-color-5 {
    background: #516170;
  }

  .v-button.aa-bg-color-5:hover {
    background: #3E6276;
  }

  .v-button.aa-bg-color-6 {
    background: #8c7036;
  }

  .v-button.aa-bg-color-6:hover {
    background: #8F7D47;
  }

  .v-label.aa-info-requisition{
    font-size: larger;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgba(31, 46, 114, 0.88);
    color: #e7e7e7;
  }
}