<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context">

    <!-- Annotation-based beans -->
    <context:component-scan base-package="kz.uco.tsadv"/>

    <bean id="cuba_UserSessionManager" class="kz.uco.tsadv.beans.UserSessionManager"/>

    <bean id="bpm_ProcessRuntimeManager" class="kz.uco.tsadv.service.ProcessRuntimeManagerBeanExt"/>

    <bean id="tsadv_IntegrationService" class="kz.uco.tsadv.service.IntegrationServiceBean"/>

    <bean id="base_OrganizationService" class="kz.uco.tsadv.service.OrganizationServiceBean"/>

    <bean id="uactivity_ActivityListener" class="kz.uco.tsadv.listener.ExtActivityListener"/>

    <bean id="base_SendingNotificationListener" class="kz.uco.tsadv.listener.ExtSendingNotificationListener"/>

    <bean id="tsadv_CalendarService" class="kz.uco.tsadv.service.CalendarServiceBean">
        <property name="organizationService">
            <ref bean="tsadv_OrganizationService"/>
        </property>
    </bean>

    <bean id="cuba_Persistence" class="kz.uco.tsadv.beans.PersistenceImpl"/>

    <bean id="cuba_EclipseLinkDescriptorEventListener" class="kz.uco.tsadv.beans.EclipseLinkDescriptorEventListener"/>

    <bean id="bproc_UserTaskCreatedEventListener" class="kz.uco.tsadv.bproc.beans.ExtUserTaskCreatedEventListener"/>

    <bean id="bproc_UserTaskCompletedEventListener" class="kz.uco.tsadv.bproc.beans.ExtUserTaskCompletedEventListener"/>

    <bean id="bproc_ProcessStartedEventListener" class="kz.uco.tsadv.bproc.beans.ExtProcessStartedEventListener"/>

    <bean id="bproc_BprocTaskService" class="kz.uco.tsadv.bproc.beans.ExtBprocTaskServiceBean"/>

    <bean id="bproc_UserTaskResults" class="kz.uco.tsadv.bproc.beans.ExtUserTaskResultsBean"/>

    <bean id="bproc_BprocRuntimeService" class="kz.uco.tsadv.bproc.beans.ExtBprocRuntimeServiceBean"/>

    <bean id="cuba_MetadataTools" class="kz.uco.tsadv.beans.CustomMetadataTools"/>

</beans>
