<div class="bpm-message-card">
    <div class="bpm-message-card-header">
        <div class="bpm-message-image" location="personImage"></div>
        <div class="info">
            <div location="personName"></div>
            <div location="date"></div>
        </div>
        <div class="bpm-message-delete-btn">
            <div location="deleteBtn"></div>
        </div>
    </div>
    <div class="bpm-message-card-body">
        <div class="bpm-message" location="message"></div>
        <div location="answerBtn"></div>
    </div>
</div>