<div class="card-container manual-flip menu">
    <div class="card">
        <div class="front">
            <div class="cover">
                <div class="cc-image" location="courseLogo"></div>
                <div class="cc-name" location="courseName"></div>
                <div class="cc-category" location="courseCategory"></div>
            </div>
            <div class="content">
                <div class="main">
                    <div class="pc-title" location="courseSectionsLabel"></div>
                    <div class="sl-course-section" location="courseSections"></div>
                    <div class="pc-title" location="courseRatingLabel"></div>
                    <div location="rateStarsWrap"></div>
                    <div>
                        <div class="pc-title mt10" location="progressLabel"></div>
                        <div location="progressBar"></div>
                    </div>
                </div>
                <div class="footer">
                    <div location="register"></div>
                </div>
            </div>
        </div>
    </div>
</div>