<ul class="right-menu">
    <li class="hrb-dropdown">
        <div location="helpLink">
        </div>
    </li>
    <li class="hrb-menu-divider">
        <span class="fa fa-circle"></span>
    </li>
    <li class="hrb-dropdown">
        <div style="margin-top:-4px;">
            <div class="rcg-hrb-avatar" location="userImage"></div>
            <div class="hrb-profile-info">
                <div class="hrb-dropdown-toggle hrb-dropdown-toggle-profile"
                     data-toggle="dropdown"
                     location="toggleProfile">
                </div>
                <ul class="hrb-dropdown-menu">
                    <li class="clearfix">
                        <div class="hrb-list-item animated animated-shorter fadeInUp" location="toProfile"></div>
                    </li>
                    <li class="clearfix">
                        <div class="hrb-list-item animated animated-shorter fadeInUp" location="toSettings"></div>
                    </li>
                    <li class="hrb-dropdown-footer">
                        <div class="hrb-list-item animated animated-shorter fadeInUp" location="toLogout"></div>
                    </li>
                </ul>
            </div>
        </div>
    </li>
</ul>