<div class="person-card-menu card-container manual-flip menu">
    <div class="card">
        <div class="front">
            <div class="cover">
                <div class="pc-image" location="categoryImage"></div>
                <div class="pc-full-name" location="lpName"></div>
                <div class="pc-employee-number" location="lpCategory"></div>
            </div>
            <div class="content">
                <div class="main">
                    <div class="pc-title" location="courseSectionsLabel"></div>
                    <div class="sl-course-section" location="courseSections"></div>
                    <div class="pc-title" location="courseRatingLabel"></div>
                    <div location="rateStarsWrap"></div>
                    <div>
                        <div class="pc-title mt5" location="progressLabel"></div>
                        <div location="progressBar"></div>
                    </div>
                </div>
                <div class="footer" style="padding: 10px 10px 13px !important">
                    <div location="register"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>