<div class="person-card-menu card-container manual-flip menu pc-mini">
    <div class="card">
        <div class="front">
            <div class="cover">
                <div class="pc-image" location="personImage"></div>
                <div class="pc-full-name" location="fullName"></div>
                <div class="pc-employee-number" location="employeeNumber"></div>
                <div class="pc-operations">
                    <a location="editAction"></a>
                    <a location="showAction"></a>
                </div>
                <span class="fa fa-compress pc-resizer"></span>
                <span class="fa fa-expand pc-resizer"></span>
            </div>
            <div class="content">
                <div class="main">
                    <div class="pc-title" location="userInfoLabel"></div>
                    <div class="pc-user-info" location="userInfo"></div>
                    <div class="pc-title" location="progressBarLabel"></div>
                    <div location="progressBar"></div>
                </div>
            </div>
        </div>
        <div class="back">
            <div class="content">
                <div class="pc-operations">
                    <a location="showCard"></a>
                </div>
                <div class="main">
                    <div class="pc-title" location="doActionLabel"></div>
                    <div class="pc-actions" location="actions"></div>
                    <div class="pc-title" location="redirectLabel"></div>
                    <div class="pc-actions" location="pages"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="pc-left-links pc-left-links-scroll" location="leftLinks" style="overflow-y: scroll;max-height: 350px;">
    </div>
</div>