<div class="person-card-menu card-container manual-flip menu">
    <div class="card">
        <div class="front">
            <div class="cover">
                <div class="pc-image" location="personImage"></div>
                <div class="pc-full-name" location="fullName"></div>
                <div class="pc-employee-number" location="employeeNumber"></div>
            </div>
            <div class="content">
                <div class="main">
                    <div class="pc-title" location="userInfoLabel"></div>
                    <div class="pc-user-info" location="userInfo"></div>
                    <div class="pc-title" location="progressBarLabel"></div>
                    <div location="progressBar"></div>
                </div>
            </div>
        </div>
    </div>
</div>