@mixin uactivity {
  .v-calendar-event.event-red, .v-calendar-event.v-calendar-event-event-red-all-day {
    background-color: #f4c8c8;
    color: #e00000;
  }

  .v-calendar-week-wrapper .v-calendar-event-event-red, .v-calendar-event-event-red:before,
  .v-calendar-week-wrapper .v-calendar-event-event-red-all-day, .v-calendar-event-event-red-all-day:before {
    color: #e00000;
  }

  .v-calendar-week-wrapper .v-calendar-event-event-red .v-calendar-event-content,
  .v-calendar-week-wrapper .v-calendar-event-event-red-all-day .v-calendar-event-content {
    background-color: #f4c8c8;
  }

  .v-calendar-event.event-green, .v-calendar-event.v-calendar-event-event-green-all-day {
    background-color: #c8f4c9;
    color: #037516;
  }

  .v-calendar-week-wrapper .v-calendar-event-event-green, .v-calendar-event-event-green:before,
  .v-calendar-week-wrapper .v-calendar-event-event-green-all-day, .v-calendar-event-event-green-all-day:before {
    color: #037516;
  }

  .v-calendar-week-wrapper .v-calendar-event-event-green .v-calendar-event-content,
  .v-calendar-week-wrapper .v-calendar-event-event-green-all-day .v-calendar-event-content {
    background-color: #c8f4c9;
  }

  .v-calendar-event.event-blue {
    background-color: #c8daf4;
    color: #0300e0;
  }

  .v-calendar-week-wrapper .v-calendar-event-event-blue, .v-calendar-event-event-blue:before {
    color: #0300e0;
  }

  .v-calendar-week-wrapper .v-calendar-event-event-blue .v-calendar-event-content {
    background-color: #c8daf4;
  }

  .v-calendar-event.event-yellow, .v-calendar-event.v-calendar-event-event-yellow-all-day {
    background-color: #f4efc8;
    color: #5f5c41;
  }

  .v-calendar-week-wrapper .v-calendar-event-event-yellow, .v-calendar-event-event-yellow:before,
  .v-calendar-week-wrapper .v-calendar-event-event-yellow-all-day, .v-calendar-event-event-yellow-all-day:before {
    color: #5f5c41;
  }

  .v-calendar-week-wrapper .v-calendar-event-event-yellow .v-calendar-event-content,
  .v-calendar-week-wrapper .v-calendar-event-event-yellow-all-day .v-calendar-event-content {
    background-color: #f4efc8;
  }

  .v-calendar-header-week .v-calendar-back, .v-calendar-header-week .v-calendar-next {
    display: none;
  }

  .create-btn {
    color: white !important;
    border-radius: 50% !important;
    background: #db4437 !important;
    border: none !important;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2) !important;
  }

  .edit-btn, .remove-btn {
    border-radius: 50% !important;
    padding: 0 !important;
    margin-top: 7px !important;
  }

  .standart-view-mode {
    border: none !important;
    border-radius: 50% !important;
    height: 40px !important;
    width: 40px !important;
  }

  .active-view-mode {
    background: #5C636E !important;
    border: none;

    & > .v-button-wrap {
      color: white !important;
    }
  }

}