<div class="bpm-message-card">
    <div class="bpm-message-card-header">
        <div location="personImage" class="bpm-message-image"></div>
        <div class="info">
            <div location="personName"></div>
            <div location="date"></div>
        </div>
        <div class="bpm-message-delete-btn">
            <div location="deleteBtn"></div>
        </div>
    </div>
    <div class="bpm-message-card-body">
        <div location="message" class="bpm-message"></div>
        <div location="answerBtn"></div>
    </div>
</div>