<ul class="right-menu">
    <li class="hrb-dropdown">
        <div location="helpLink">
        </div>
    </li>
    <li class="hrb-menu-divider">
        <span class="fa fa-circle"></span>
    </li>
    <li class="hrb-dropdown">
        <div style="margin-top:-4px;">
            <div location="userImage" class="rcg-hrb-avatar"></div>
            <div class="hrb-profile-info">
                <div location="toggleProfile"
                     class="hrb-dropdown-toggle hrb-dropdown-toggle-profile"
                     data-toggle="dropdown">
                </div>
                <ul class="hrb-dropdown-menu">
                    <li class="clearfix">
                        <div location="toProfile" class="hrb-list-item animated animated-shorter fadeInUp"></div>
                    </li>
                    <li class="clearfix">
                        <div location="toSettings" class="hrb-list-item animated animated-shorter fadeInUp"></div>
                    </li>
                    <li class="hrb-dropdown-footer">
                        <div location="toLogout" class="hrb-list-item animated animated-shorter fadeInUp"></div>
                    </li>
                </ul>
            </div>
        </div>
    </li>
</ul>