<div class="person-card-menu card-container manual-flip menu">
    <div class="card">
        <div class="front">
            <div class="cover">
                <div location="personImage" class="pc-image"></div>
                <div class="pc-full-name" location="fullName"></div>
                <div class="pc-employee-number" location="employeeNumber"></div>
            </div>
            <div class="content">
                <div class="main">
                    <div location="userInfoLabel" class="pc-title"></div>
                    <div class="pc-user-info" location="userInfo"></div>
                    <div location="progressBarLabel" class="pc-title"></div>
                    <div location="progressBar"></div>
                </div>
            </div>
        </div>
    </div>
</div>